

.footer-container{
    background-image: url("/Assets/images/Footer/background-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}
.parent-menu{
    font-family: semiBold;
}

.row-contain-icon-and-info{
    height: 3rem !important;
}

.information-icon{
    padding: 0.5rem;
    width: 2.1rem;
    height: 2.1rem;
}

.column-footer{
    display: flex !important;
    flex-flow: column wrap !important;
    align-items: center !important;
}



.child-menu{
    margin: 5rem 0 !important;
    font-family: regular;
}

a{
    color: #0A0A0A;
}