#gallery-section{
    position: relative !important;
}
.gallery-container{
    position: relative;
    font-size: 20px;
    font-family: MuseoSlab700, Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0px;
    margin: 20px 94px 20px 94px;
}
.gallery-container{
    padding: 0px;
}
.photo-btn{
    display: flex;
    position: relative;
    width: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in;
    height: 84px !important;
    line-height: 84px !important;

}
.video-btn{
    display: flex;
    position: relative;
    width: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in;
    height: 84px !important;
    line-height: 84px !important;
}
.video-btn:hover.active-gallery-btn,.photo-btn:hover.active-gallery-btn {
    background-color: #F8F8F8;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #FFDF4C;
    top: -10px;
}
.row div i {
    font-size: 36px;
    color: black;
}
.text-btn{
    margin-left: 20px;
    font-family: PoppinsSemiBold;
    color: black;
}
.image-video-container{
    border-radius: 3px;
    box-shadow: 4px 0px 25px gray;
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns:auto  auto auto auto auto;
    grid-gap: 2vmin;
    grid-auto-flow: dense;
}
.image-video-container .img{
    position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9 );
	border-radius: 2px;
}
.image-video-container .img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 2px;
	transition: 0.3s ease-in-out;
}
.image-video-container .img:first-child{
	grid-column-start: span 2;
	grid-row-start: span 2;
}
.image-video-container .img:nth-child(2n+3){
	grid-row-start: span 2;
}
.image-video-container .img:nth-child(4n+5){
	grid-row-start: span 2;
}
.image-video-container .img:nth-child(6n+7){
	grid-row-start: span 1;
}
.image-video-container .img:nth-child(8n+9){
	grid-column-start: span 1;
	grid-row-start: span 1;
}
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .wonderful-gift-title:after {
    position: absolute;
    content: "";
    width: 160px;
    height: 2px;
    background-color: #191414;
    left: auto;
    top: 40px;
    margin-left: 20px;
}
.slogan-title{
    color: #363131;
    padding-bottom: 12px;
    border-bottom: 2px solid #363131;
    margin-bottom: 36px;
}
.info-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}