/* Navigation bar */
.container-customize {
    position: relative;
    margin: 0px 94px 0px 94px;
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    background-image: url("../Images/Banner/wavebanner.png");
    background-repeat: repeat;
    background-size: cover;
    background-color: #FBEEAE;
    transition:all ease 0.6s;
}
nav .container {
    margin: 0px 94px 0px 94px !important;
    width: 100% !important;
}
.flex-end{
    justify-content: flex-start !important;
}


.btn-search-header{
    position: relative;
    background-image: url("../Images/Banner/btnSearchHeader.png");
    width: 66px;
    height: 54px;
    right: 18px;
}
nav div ul li a {
    font-size: 20px;
    font-family: MuseoSlab700;
}

.display {
    display: block !important;
}
.hide {
    display: none !important;
}
.dropdown-header{
    position: relative;
    font-family: MuseoSlab700 !important;
    font-size: 20px !important;
    top: 0px;
    left: 60px;
    width: 542px !important;
}
.dropdown-header button{
    position: relative;
    border-bottom: #FF0000 4px solid;
    border-radius: 5px;
    width: 442px;
    height: 54px;
    text-align: left;
    font-size: 20px !important;

 }
 .dropdown-header .dropdown-menu{
    position: relative;
    width: 442px;
    font-size: 20px !important;
 }
#input-header{
    font-family: MuseoSlab700;
    height: 54px !important;
    width: 442px;
    padding-left: 45px;
    color: black !important;
    background-color: #FFFFFF;
    border-bottom:4px #FF0000  solid;
    border-radius: 5px;
    text-align: left;
    font-size: 20px !important;
}
.input-header-container{
    position: relative;
}
.icon-input-header{
    position: relative;
    left: 40px;
}
/* End navigation bar */
