.storage-container,.profile-container {
    position: relative;
    background-image: url("../Images/Store/colorGradient@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#you-can-find-downloaded-stuff-here{
    width: 87.2rem;
    height: 15.8rem;
}

.wrapper-storage{
    margin-left: 4.2rem !important;
    margin-right: 4.2rem !important;

    /* Bổ sung cái này cho nó phân biệt với phân footer */
    padding-bottom: 1rem;
}

.downloaded-img{
    width: 16.5rem;
    height: 17.1rem;
    object-fit: cover;
    vertical-align: middle;
    margin: 0 1rem;
}

#profile-storage-container, #picture-storage-container, #video-storage-container{
    justify-content: center;
    background-color: white;
    height: 100%;

    padding: 1.5rem 0;

    width: 101.1rem;
    height: 45rem;
}   

#picture-storage-container{
    display: flex !important;
    flex-flow: column wrap !important;
    align-items: center !important;
}

input{
    border-bottom: solid 0.2rem rgb(204, 1, 1) !important;

    height: 4.5rem !important;
}
.btn-apply{
    background-color: #212B36 !important;
    color: white !important;
    box-shadow: 0.3rem 0.3rem 0.5rem grey;
    width: 10rem;
    margin-top: 1rem;

    height: 3.2rem;
}

.selected-customized-btn{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.164);
    position:relative;
    z-index:1;
}

.customized-btn{
    display: flex !important;
    flex-flow: column wrap !important;
    justify-content: center;
    align-items: center !important;
    background-color: white;
    color: #0A0A0A;
    padding-top: 1rem;
    width: 9.9rem;
    height: 8.4rem;
}

.customized-btn:hover{
    background-color: rgb(245, 244, 244);
}   

/* Khi hover selected-customized-btn thi no khong doi mau. */
.selected-customized-btn:hover {
    background-color: white;
}

.column-place-holder-arrow{
    display: flex !important;
    flex-flow: column wrap !important;
    align-items: center !important;
    justify-content: center;
}

.customized-btn-arrow-place-holder{
    height: 8.4rem;
    align-items: center !important;
}

.selected-customized-btn-arrow {
    /* content: ''; */
    background-image: url("../Images/Store/polygon-transparent-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 40px;
    height: 65px;
    z-index:1;
}

.icon-customized-btn{
    width: 2.1rem;
    height: 2.1rem;
}

.wrapper-customized-btn{
    position: relative;
    
    /* Edit cái này để cho nó lùi qua trái như ban đầu. */
    /* left: -30px; */
    
    display: flex !important;
    flex-flow: column wrap !important;
    align-items: center !important;
}

.avatar-img{
    
    width: 9.25rem;
    height: 9.25rem;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%!important;
}

.form-group{
    display: flex !important;
    flex-flow: column wrap !important;
    align-items: center !important;
}

#left-side{
    border-right: solid 0.2rem #707070;
}

.swiper-slide{
    display: flex !important;
    flex-flow: column wrap !important;
    align-items: center !important;
}

/* footer, label, p in all files will be changed like below which making uniform */
p, label, a {
    color: #0A0A0A;
    font-size: large;
    font-family: Roboto;
}

/* IMPORTANT: Ghi đè lại thư viện Swiper để hiển thị nút chọn bị lỗi */
.swiper-container{
    z-index: auto;
}