*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
section{
    position: relative !important;
}
/*----------------------------- Set font -----------------------------*/
@font-face {
    font-family: MuseoSlab700;
    src: url("../fonts/Museo_Slab_700.otf") format("opentype");
}
@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.otf") format("opentype");
}
@font-face {
    font-family: PoppinsSemiBold;
    src: url("../fonts/Poppins-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: Pristina;
    src: url("../fonts/PRISTINA.TTF") format("truetype");
}
@font-face {
    font-family: semiBold;
    src: url(/Assets/Font/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: regular;
    src: url(/Assets/Font/Roboto-Regular.ttf);
}
/* End  font  setting*/

