*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
body {
}
section{
    position: relative !important;
}
/*----------------------------- Set font -----------------------------*/
@font-face {
    font-family: MuseoSlab700;
    src: url("../fonts/Museo_Slab_700.otf") format("opentype");
}
@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.otf") format("opentype");
}
@font-face {
    font-family: PoppinsSemiBold;
    src: url("../fonts/Poppins-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: Pristina;
    src: url("../fonts/PRISTINA.TTF") format("truetype");
}
@font-face {
    font-family: semiBold;
    src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: regular;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: RobotoBlack;
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
    font-family: RobotoMedium;
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
.Poppins {
    font-family: Poppins !important;
}
.RobotoMedium {
    font-family: RobotoMedium !important;
}
.RobotoBlack {
    font-family: RobotoBlack !important;
}
.RobotoRegular {
    font-family: regular !important;
}
.Montserrat-SemiBold {
    font-family: semiBold !important;
}

/* End  font  setting*/

